body {
    font-family: "Roboto", "helvetica", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    color: rgba(29, 50, 212, 0.88);
}

html { 
 background-color: #fff;
 cursor: grab;
}



h1,h2,h3,h4,h5,h6 {
    font-family: "Alfa Slab One", cursive;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.95);
    text-align: center;
    letter-spacing: 4px;
}





