body {
    font-family: 'Helvetica', sans-serif;
    width: 100%;
}

.main {
    width: 90%;
    margin: 0 auto;
    padding: 2em 2.8em;
}

p {
    line-height: 1.2;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    font-weight: bold;
}

button {
    display: inline-block;
    width: 60px;
    height: 20px;
}

.example, .list, .gallery_row {
    background-color: rgba(64, 64, 64, 0.15);
    color: #000;
    margin: 1em 1.6em;
    padding: 1em 1.6em;
    border-radius: 8px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.list ul {
    list-style: none;
    width: 100%;
}

.list ul li {
    display: inline-block;
    margin: 1em;
    padding: 6px 10px;
    border: 2px solid #000;
    background: rgba(77, 77, 77, 0.38);
    
}

.gallery_row {
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.picture {
    padding: 1.2em;
    /*this transition happens when the .picture-hover class is toggled */
    transition: all .3s linear 0s;
}

.picture-hover {
    background-color: rgba(54, 54, 54, 0.37);
    border-radius: 12px;
}

.picture img {
    width: 220px;
    height: auto;
    padding: 0.4em;

}

